# Service Information
SERVICE_NAME=auth-service
PORT=8000
NODE_ENV=development

# Tenant Configuration
TENANT_ID=47dd6b24-0b23-46b0-a662-776158d089ba
ADMIN_TENANT_ID=47dd6b24-0b23-46b0-a662-776158d089ba

# JWT Configuration
JWT_SECRET=auth_ms_jwt_secret
ADMIN_JWT_SECRET=admin_auth_ms_jwt_secret

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auth_db

# Service URLs (Docker)
AUTH_SERVICE_URL=http://auth-service:8000
TENANT_SERVICE_URL=http://tenant-service:8003
PRODUCT_SERVICE_URL=http://product-service:8002